/* = Main section
================================================*/
.b-main-section {
	padding: 18px 23px 25px;
}
.b-main-area-title {
	font: 35px/1 $ff-roboto-t;
	color: $color-white;
	margin-bottom: 58px;
}
.b-main-area {
	width: 651px;
	height: 534px;
	background-color: #fff;
  background-image: url('../img/bg/team_background.png');
  background-position: -50%;
  background-repeat: repeat;
	position: relative;
}

.b-main-area__uploaded-image {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
