/* = Main section
================================================*/
.b-main-section {
	padding: 18px 23px 25px;
}
.b-main-area-title {
	font: 35px/1 $ff-roboto-t;
	color: $color-white;
	margin-bottom: 58px;
}
.b-main-area {
	width: 651px;
	height: 534px;
	background: #fff;
	position: relative;
}
