/* = Settings
================================================*/
.b-settings {
	padding: 10px 0;
}
.b-settings-title {
	font: 26px/1 $ff-roboto-l;
	text-align: center;
	margin: 17px 0;
}

.b-section:not(.m-btns) {
	position: relative;
	padding: 18px 20px;
	border-bottom: 1px solid #f4c3c2;

	&:after,
	&:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-top-color: #f1f1f5;
		border-width: 9px;
		margin-left: -9px;
	}

	&:before {
		border-top-color: #f4c3c2;
		border-width: 10px;
		margin-left: -10px;
	}
}
.b-section.m-btns {
	padding: 56px 10px 10px;
	position: relative;
	@extend .m-cfix;
}


/* = Form
================================================*/
.b-form-line {
	margin-bottom: 12px;

	& + & {
		margin-top: 24px;
	}
}
.b-form-label {
	font: 14px/1 $ff-roboto-l;
	margin-bottom: 9px;
	&.m-extra-spaced {
		margin-bottom: 35px;
	}
}

/* form: controls */
.b-input {
	height: 27px;
	font: 12px/27px $ff-roboto-l;
	color: $color-blue;
	padding: 4px;
	border: 1px solid $color-blue;
	border-radius: $default-radius;
	width: 100%;

	&::placeholder {
		color: $color-blue;
		opacity: 2;
		transition: opacity 0.3s ease;
		text-overflow: ellipsis;
	}
	&:focus::placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}

/* form: custom upload */
.b-custom-upload {
	position: relative;
	height: 27px;

	.b-input {
		height: 100%;
		line-height: 17px;
	}
}

.b-input-file {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 3;
}
.b-fake-upload {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0;
	z-index: 1;
}
.b-fake-input {
	padding-right: 45px;
}
.b-icon-upload {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 39px;
	background: $color-pink url('../img/icon/browse-icon.png') no-repeat 50% 49%;
	border-radius: 0 $default-radius $default-radius 0;
	z-index: 2;
}

/* form: custom upload: hover */
.b-custom-upload {
	&:hover {
		.b-icon-upload {
			background-color: darken($color-pink, 3%);
		}
	}
	&:active {
		.b-icon-upload {
			background-color: darken($color-pink, 5%);
		}
	}
	&.m-disabled:hover {
		.b-icon-upload {
			background-color: $color-pink;
		}
	}
}


/* = Location section
================================================*/
.b-location {
	@extend .m-cfix;
	margin-bottom: 6px;
	position: relative;
}

/* grid list */
.b-grid-list {
	@extend .m-list-reset;
	@extend .m-cfix;
	border: solid $color-blue;
	border-width: 0 1px 1px 0;
	display: inline-block;
	border-radius: $default-radius;
	overflow: hidden;
	float: left;
}
.b-grid-item {
	width: 34px;
	height: 34px;
	display: block;
	border: solid $color-blue;
	border-width: 1px 0 0 1px;
	float: left;
	background: $color-light-blue;
	cursor: pointer;

	&.m-active {
		background: $color-pink;
	}

	&:nth-child(3n+1) {
		clear: left;
	}
	&:nth-child(3n+3) {
		clear: right;
	}
	&:first-child {
		border-top-left-radius: $default-radius;
	}
	&:last-child {
		border-bottom-right-radius: $default-radius;
	}
	&:nth-last-child(3) {
		border-bottom-left-radius: $default-radius;
	}
	&:nth-child(3) {
		border-top-right-radius: $default-radius;
	}
}

/* controls */
.b-controls {
	float: right;
	text-align: right;

	&.m-for-multi {
		.m-horizontal,
		.m-vertical {
			text-indent: 9999px;
		}

		.m-horizontal {
			background:url(../img/icon/horizontal-interval.png) center center no-repeat;
			width: 29px;
			height: 9px;
			left: -15px;
			top: 18px;
		}
		.m-vertical {
			background:url(../img/icon/vertical-interval.png) center center no-repeat;
			width: 11px;
			height: 30px;
			left: -6px;
			top: 9px;
		}
	}
}
.b-control-item {
	position: relative;
	padding: 0 18px;
	margin-bottom: 12px;
}
.b-control {
	font: 24px/1 $ff-roboto-t;
	padding: 10px 0;
	color: $color-black;
	width: 46px;
	height: 45px;
	text-align: center;
	border: 1px solid $color-blue;
	border-radius: $default-radius;
	background: none;
}

/* controls: tip */
.b-control-tip {
	font: 16px/1 $ff-roboto-l;
	position: absolute;
	left: 0;
	top: 15px;
}

/* controls: arrows */
.b-control-arrow {
	position: absolute;
	right: 0;
	display: block;
	width: 13px;
	height: 8px;
	cursor: pointer;
	background: url('../img/icon/arrow-spr.png') no-repeat 0 -13px;

	&:before {
		content: '';
		position: absolute;
		top: -10px;
		left: -5px;
		right: -10px;
		bottom: -10px;
	}

	&.m-top {
		top: 4px;
		&:hover {
			background-position: 0 0;
		}
		&.m-disabled:hover {
			background-position: 0 -13px;
		}
	}
	&.m-btm {
		bottom: 4px;
		background-position: 0 -26px;
		&:hover {
			background-position: 0 -39px;
		}
		&.m-disabled:hover {
			background-position: 0 -26px;
		}
	}
}


/* = Switcher
================================================*/
.b-switchers {
	position: absolute;
	height: 19px;
	width: 48px;
	top: 10px;
	right: 10px;
	overflow: hidden;
}
.b-switcher {
	height: 19px;
	width: 19px;
	cursor: pointer;
}
.b-switcher.m-multi {
	float: left;
	background: url(../img/icon/switcher-sprite.png) -15px -15px no-repeat;

	&.m-active {
		background-position: -64px -15px;
	}
}
.b-switcher.m-single {
	float: right;
	background: url(../img/icon/switcher-sprite.png) -113px -15px no-repeat;

	&.m-active {
		background-position: -162px -15px;
	}
}

/* grid interval */
.b-intervals {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 103px;
	height: 103px;
    overflow: hidden;
}
.b-interval.m-hor {
	background: $color-pink;
	height: 100%;
	width: 1px;
	margin: 0 auto;
}
.b-interval.m-vert {
	background: $color-pink;
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}


/* = Opacity section
================================================*/
.b-wmark-opacity {
	margin: 30px 0 14px;
}
.b-opacity-slider {
	border-radius: 2px;
	border: none;
	height: 3px;
	position: relative;
	background-color: $color-light-blue;
}
.ui-slider {
	&-range {
		position: absolute;
		background-color: $color-blue;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		border-radius: $default-radius;
		border: none;
	}

	&-handle {
		border: 7px solid $color-light-blue;
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		margin-left: -10px;
		top: -10px;
		z-index: 2;
		background-color: $color-blue;
		height: 22px;
		width: 22px;
		content: " ";
		display: block;
		box-shadow: 0 1px 2px #969698;

		&.ui-state-active {
			background-color: $color-pink;
		}
	}
}


/* = Buttons section
================================================*/
.b-btn {
	font: 18px/1 $ff-roboto-l;
	color: $color-white;
	border: none;
	background: $color-pink;
	border-radius: $default-radius;
	min-width: 99px;
	padding: 12px 4px;
	text-align: center;
	display: inline-block;

	&:hover {
		background: darken($color-pink, 3%);
	}
	&:active {
		background: darken($color-pink, 5%);
	}

	&.m-neg {
		background: #c1cfd9;

		&:hover {
			background: darken(#c1cfd9, 3%);
		}
		&:active {
			background: darken(#c1cfd9, 5%);
		}
	}

}


/* = Disable
================================================*/
.m-disabled-area {
	position:absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index:99;
}
.m-disabled {
	opacity: 0.6;
	cursor: default;
}


/* = Fixes for old browsers
================================================*/
/* opacity */
.no-opacity {
	.b-input-file {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.m-disabled .b-fake-upload {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	}
}
