/* = Constructor
================================================*/
/* = Font================================================*/
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto-thin-webfont.eot');
  src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.ttf') format('truetype'), url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal; }

/* = Extends, Mixins================================================*/
.m-list-reset, .b-grid-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.m-cfix:before, .b-container:before, .b-columns:before, .b-section.m-btns:before, .b-location:before, .b-grid-list:before, .m-cfix:after, .b-container:after, .b-columns:after, .b-section.m-btns:after, .b-location:after, .b-grid-list:after {
  content: "";
  display: table; }
.m-cfix:after, .b-container:after, .b-columns:after, .b-section.m-btns:after, .b-location:after, .b-grid-list:after {
  clear: both; }

.m-to-right {
  float: right; }

.m-to-left {
  float: left; }

/* = General================================================*/
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: 1em/1.4 'robotolight';
  color: #2e3641; }

:focus {
  outline: none; }

/* = Layout================================================*/
.h-base {
  height: 100%;
  min-width: 980px;
  min-height: 760px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-align: center;
  background: #a9837f url('../img/bg/main-bg.jpg') no-repeat 100% 50%;
  background-size: cover; }
  .h-base:after {
    content: '';
    height: 40px;
    display: block; }
  .h-base:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0; }

.b-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #986a78;
  background: linear-gradient(to right, #986a78 0%, #bd8880 50%, #ab847f 100%);
  opacity: 0.4; }

.b-container, .b-columns {
  width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
  text-align: left; }

.b-main-container {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

/* = Columns================================================*/
.b-columns {
  display: table; }

.b-main {
  width: 700px;
  display: table-cell;
  vertical-align: top;
  background: #5f5f62;
  background: rgba(46, 54, 65, 0.64); }

.b-settings {
  width: 260px;
  display: table-cell;
  vertical-align: top;
  background: #f1f1f5; }

/* = Footer================================================*/
.b-footer {
  position: relative;
  height: 40px;
  margin-top: -40px; }

.b-copyright {
  font: 12px/1 'robotothin';
  color: #fff;
  text-align: center; }

/* = Unhappy browser================================================*/
.unhappy-browser {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em;
  text-align: center; }

/* = Fixes for old browsers================================================*/
/* opacity */
.no-opacity .h-base {
  background: #a9837f; }
.no-opacity .b-gradient {
  display: none; }

/* = Main section
================================================*/
.b-main-section {
  padding: 18px 24px 25px; }

.b-main-area-title {
  font: 35px/1 'robotothin';
  color: #fff;
  margin-bottom: 58px; }

.b-main-area {
  width: 100%;
  max-width: 650px;
  height: 534px;
  background: #fff url('../img/bg/workarea-bg.png') 15% 15%;
  position: relative;
  overflow: hidden; }

.b-main-image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden; }

.b-main-wtmark-wrapper {
  position: absolute;
  left: 0;
  top: 0; }

#watermark {
  cursor: move; }

/* ie fix */
#image {
  max-width: 100%;
  max-height: 100%; }

/* iframe for download */
#downloadFrame {
  display: none; }

/* = Settings
================================================*/
.b-settings {
  padding: 10px 0; }

.b-settings-title {
  font: 26px/1 'robotolight';
  text-align: center;
  margin: 17px 0; }

.b-section:not(.m-btns) {
  position: relative;
  padding: 18px 20px;
  border-bottom: 1px solid #f4c3c2; }
  .b-section:not(.m-btns):after, .b-section:not(.m-btns):before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .b-section:not(.m-btns):after {
    border-top-color: #f1f1f5;
    border-width: 9px;
    margin-left: -9px; }
  .b-section:not(.m-btns):before {
    border-top-color: #f4c3c2;
    border-width: 10px;
    margin-left: -10px; }

.b-section.m-btns {
  padding: 56px 10px 10px;
  position: relative; }

/* = Form
================================================*/
.b-form-line {
  margin-bottom: 12px; }
  .b-form-line + .b-form-line {
    margin-top: 24px; }

.b-form-label {
  font: 14px/1 'robotolight';
  margin-bottom: 9px; }
  .b-form-label.m-extra-spaced {
    margin-bottom: 35px; }

/* form: controls */
.b-input {
  height: 27px;
  font: 12px/27px 'robotolight';
  color: #9eb2c0;
  padding: 4px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  width: 100%; }
  .b-input::-webkit-input-placeholder {
    color: #9eb2c0;
    opacity: 2;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-input::-moz-placeholder {
    color: #9eb2c0;
    opacity: 2;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-input:-ms-input-placeholder {
    color: #9eb2c0;
    opacity: 2;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-input::placeholder {
    color: #9eb2c0;
    opacity: 2;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }

/* form: custom upload */
.b-custom-upload {
  position: relative;
  height: 27px; }
  .b-custom-upload .b-input {
    height: 100%;
    line-height: 17px; }

.b-input-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 3; }

.b-fake-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 1; }

.b-fake-input {
  padding-right: 45px; }

.b-icon-upload {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 39px;
  background: #f97e76 url('../img/icon/browse-icon.png') no-repeat 50% 49%;
  border-radius: 0 3px 3px 0;
  z-index: 2; }

/* = Location section
================================================*/
/* location columns */
.b-location {
  margin-bottom: 6px; }

/* grid list */
.b-grid-list {
  border: solid #9eb2c0;
  border-width: 0 1px 1px 0;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  float: left; }

.b-grid-item {
  width: 34px;
  height: 34px;
  display: block;
  border: solid #9eb2c0;
  border-width: 1px 0 0 1px;
  float: left;
  background: #dbe1e8;
  cursor: pointer; }
  .b-grid-item.m-active {
    background: #f97e76; }
  .b-grid-item:nth-child(3n+1) {
    clear: left; }
  .b-grid-item:nth-child(3n+3) {
    clear: right; }
  .b-grid-item:first-child {
    border-top-left-radius: 3px; }
  .b-grid-item:last-child {
    border-bottom-right-radius: 3px; }
  .b-grid-item:nth-last-child(3) {
    border-bottom-left-radius: 3px; }
  .b-grid-item:nth-child(3) {
    border-top-right-radius: 3px; }

/* controls */
.b-controls {
  float: right;
  text-align: right; }

.b-control-item {
  position: relative;
  padding: 0 18px;
  margin-bottom: 12px; }

.b-control {
  font: 24px/1 'robotothin';
  padding: 10px 0;
  color: #2e3641;
  width: 46px;
  height: 45px;
  text-align: center;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  background: none; }

/* controls: tip */
.b-control-tip {
  font: 16px/1 'robotolight';
  position: absolute;
  left: 0;
  top: 15px; }

/* controls: arrows */
.b-control-arrow {
  position: absolute;
  right: 0;
  display: block;
  width: 13px;
  height: 8px;
  cursor: pointer;
  background: url('../img/icon/arrow-spr.png') no-repeat 0 -13px; }
  .b-control-arrow:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -5px;
    right: -10px;
    bottom: -10px; }
  .b-control-arrow.m-top {
    top: 4px; }
    .b-control-arrow.m-top:hover {
      background-position: 0 0; }
    .b-control-arrow.m-top.m-disabled:hover {
      background-position: 0 -13px;
      cursor: default; }
  .b-control-arrow.m-btm {
    bottom: 4px;
    background-position: 0 -26px; }
    .b-control-arrow.m-btm:hover {
      background-position: 0 -39px; }
    .b-control-arrow.m-btm.m-disabled:hover {
      background-position: 0 -26px;
      cursor: default; }

/* = Opacity section
================================================*/
.b-wmark-opacity {
  margin: 30px 0 14px; }

.b-opacity-slider {
  border-radius: 2px;
  border: none;
  height: 3px;
  position: relative;
  background-color: #dbe1e8; }

.ui-slider-range {
  position: absolute;
  background-color: #9eb2c0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 3px;
  border: none; }
.ui-slider-handle {
  border: 7px solid #dbe1e8;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  margin-left: -10px;
  top: -10px;
  z-index: 2;
  background-color: #9eb2c0;
  height: 22px;
  width: 22px;
  content: " ";
  display: block;
  box-shadow: 0 1px 2px #969698; }
  .ui-slider-handle.ui-state-active {
    background-color: #f97e76; }

/* = Buttons section
================================================*/
.b-btn {
  font: 18px/1 'robotolight';
  color: #fff;
  border: none;
  background: #f97e76;
  border-radius: 3px;
  min-width: 99px;
  padding: 12px 4px;
  text-align: center;
  display: inline-block; }
  .b-btn:hover {
    background: #f85e54; }
  .b-btn.m-neg {
    background: #c1cfd9; }
    .b-btn.m-neg:hover {
      background: #abbecb; }

/* = Disable
================================================*/
.m-disabled-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99; }

.m-disabled {
  opacity: 0.6;
  cursor: default; }

/* = Fixes for old browsers
================================================*/
/* opacity */
.no-opacity .b-input-file {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.no-opacity .m-disabled .b-fake-upload {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

/* = Form tooltip
================================================*/
.b-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: all .4s ease; }
  .b-tooltip-inner {
    font-size: 12px;
    color: #fff;
    padding: 5px 8px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    background: #f97e76;
    border-radius: 2px;
    white-space: nowrap; }
    .b-tooltip-inner:after {
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid; }

.b-tooltip.m-right, .b-tooltip.m-left {
  padding: 0 5px; }
  .b-tooltip.m-right .b-tooltip-inner:after, .b-tooltip.m-left .b-tooltip-inner:after {
    top: 50%;
    margin-top: -5px; }

.b-tooltip.m-top, .b-tooltip.m-bottom {
  padding: 5px 0; }
  .b-tooltip.m-top .b-tooltip-inner:after, .b-tooltip.m-bottom .b-tooltip-inner:after {
    left: 50%;
    margin-left: -5px; }

.b-tooltip.m-right .b-tooltip-inner:after {
  left: 0;
  border-width: 5px 5px 5px 0;
  border-right-color: #f97e76; }

.b-tooltip.m-left .b-tooltip-inner:after {
  right: 0;
  border-width: 5px 0 5px 5px;
  border-left-color: #f97e76; }

.b-tooltip.m-bottom .b-tooltip-inner:after {
  top: 0;
  border-width: 0 5px 5px;
  border-bottom-color: #f97e76; }

.b-tooltip.m-top .b-tooltip-inner:after {
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #f97e76; }
