extends common/_layout

block title
    title Генератор водяных знаков

block main
    include sections/_main

block aside
    include sections/_upload
    include sections/_location
    include sections/_opacity
    include sections/_buttons