extends common/_layout

block title
    title Генератор водяных знаков

block leftpanel
    include sections/_leftpanel

block main
    include sections/_main

block aside
    include sections/_settings