doctype html
html(lang='ru-RU')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        // Seo
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='author', content='')

        // Favicon
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='favicon.ico', type='image/x-icon')

        block title
            title Генератор водяных знаков

        // Styles

        // build:css css/vendor.min.css
        // bower:css
        link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
        // endbower
        // endbuild


        // build:css css/styles.min.css
        link(rel='stylesheet', href='css/styles.css')
        // endbuild

        // JS
        script(src='js/vendor/modernizr.min.js')

    body
        <!--[if lt IE 8]>
        <p class='unhappy-browser'>Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
        <![endif]-->

        .h-base
            // Content: start
            .b-main-container
                .b-columns
                    .b-main
                        block main
                    .b-settings
                        block aside
            // Content: end


        // Footer: start
        include _footer
        // Footer: end


        // JS: start

        // build:js js/vendor/vendor.min.js
        // bower:js
        script(src='/bower/jquery/dist/jquery.js')
        // endbower
        // endbuild

        //vendor
        script(src='js/vendor/jquery-ui.min.js')
        script(src='js/vendor/jquery.ui.widget.js')
        script(src='js/vendor/jquery.iframe-transport.js')
        script(src='js/vendor/jquery.fileupload.js')
        // The Load Image plugin is included for the preview images and image resizing functionality
        script(src='https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js')
        // The Canvas to Blob plugin is included for image resizing functionality
        script(src='https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js')
        // Added by Nikita for imageResize by Client Side
        script(src='js/vendor/jquery.fileupload-process.js')
        script(src='js/vendor/jquery.fileupload-image.js')


        <!--[if IE 8]>
        <script src='js/vendor/selectivizr.min.js'></script>
        <![endif]-->

        // build:js js/scripts.min.js
        script(src='js/drag.js')
        script(src='js/opacity.js')
        script(src='js/upload.js')
        script(src='js/main.js')
        // endbuild
