section.b-section.m-btns.m-disabled
	.m-disabled-area
	input.b-btn.m-hidden-switch(type='hidden', name='mode', value='single')
	input.b-btn.m-neg.m-to-left(type='reset', value='Сброс')
	input.b-btn.m-to-right(type='submit', value='Скачать')