ul.b-language
    li.b-language-item
        a#ru.b-language-link.m-active
            | РУС
    li.b-language-item
        a#en.b-language-link
            | ENG
.b-share
    .b-share-icon
        a(href="#").b-share-icon-link Like Me

    ul.b-share-socials-list
        each val, index in {'fb-ico':'FaceBook' ,'tw-ico':'Twitter' ,'vk-ico':'ВКонтакте'}
            li.b-share-socials-item
                a(href="#", class="#{index}").b-share-socials-link #{val}
