ul.b-language-select
	li.b-language-select-item
		a#ru.b-language-select-link
			| РУС
	li.b-language-select-item
		a#en.b-language-select-link
			| ENG
.b-share
	.b-share-icon
		a(href="#").b-share-icon-link Like Me
	ul.b-share-socials-list
		li.b-share-socials-item
			a(href="#").b-share-socials-link.fb-ico
				span.b-share-socials-name FaceBook
		li.b-share-socials-item
			a(href="#").b-share-socials-link.tw-ico
				span.b-share-socials-name Twitter
		li.b-share-socials-item
			a(href="#").b-share-socials-link.vk-ico
				span.b-share-socials-name ВКонтакте
