section.b-section.m-upload
    .b-form-line
        .b-form-label Исходное изображение
        .b-custom-upload
            input.b-input.b-input-file(type="file", name='files[]', data-url='php/index.php')#fileupload
            .b-fake-upload
                .b-icon-upload
                input.b-input(type='text', 'readonly', placeholder='Image.jpg')

    .b-form-line
        .b-form-label Водяной знак
        .b-custom-upload.disabled
            input.b-input.b-input-file(type="file", name='files[]', data-url='php/index.php', disabled)#wmarkfile
            .b-fake-upload
                .b-icon-upload
                input.b-input(type='text', 'readonly', placeholder='Image.png')
